<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Notes list</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/notes.css" th:href="@{/css/notes.css}">
</head>
<body>
<form action="#" th:action="@{/notes}" th:object="${command}" method="post">
    <p>Note text: <input type="text" th:field="*{addNoteTextValue}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
Here will be list of all notes
<div th:if="${notes != null}">
    <div th:each="note:${notes}" class="note">
        <span th:text="${note.text}"/>
        <form action="#" th:action="@{/notes/delete}" th:object="${command}" method="post">
            <button type="submit" name="noteIdToDelete" th:value="${note.id}" th:field="*{noteIdToDelete}">Delete</button>
        </form>
    </div>
</div>
</body>
</html>